/* = картки = */
.cards {
  padding-left: 0;
  padding-right: 0;
  margin: 0 auto;
}

.cards__list {
  display: flex;

  @include small {
    flex-direction: column;
    align-items: center;
  }

  @include tel {
    display: flex;
    flex-direction: column;
  }

  @include tab {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  @include pc {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.cards__item {
  margin-right: 30px;
  margin-bottom: 30px;
  overflow: hidden;

  @include small {
    margin-right: 0;
  }

  @include tel {
    margin-right: 0;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @include tab {
    margin-right: 30px;
    margin-bottom: 30px;
    overflow: hidden;
    width: 354px;
    height: 440px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @include pc {
    margin-right: 30px;
    margin-bottom: 30px;
    overflow: hidden;
    width: 370px;
    height: 404px;

    &:nth-child(3n) {
      margin-right: 0;
    }
    &:nth-last-child(-n + 3) {
      margin-bottom: 0;
    }
  }
}

.cards__item {
  &:hover .description {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    @include small {
      padding: 15px 15px;
    }

    @include tel {
      padding: 77px 24px;
    }
    @include tab {
      padding: 49px 24px;
    }
    @include tab {
      padding: 63px 24px;
    }
    background-color: $cards-bg;
    color: #fff;

    font-size: 18px;
    font-weight: 400;
    line-height: 1.55;

    transform: translateY(0);
    transition: transform $animation, opacity $animation;
  }

  &:focus,
  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
      0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.card__description {
  position: relative;
  overflow: hidden;
}

.description {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;

  background-color: $cards-bg;
  color: #fff;

  font-size: 18px;
  font-weight: 400;
  line-height: 1.55;
  opacity: 0.9;

  transform: translateY(100%);
  transition: transform $animation, opacity $animation;
  @include small {
    padding: 15px 15px;
  }

  @include tel {
    padding: 77px 24px;
  }

  @include tab {
    font-size: 18px;
    line-height: ((36 / 18) * 100%);
    padding: 49px 24px;
  }

  @include pc {
    padding: 63px 24px;
  }
}

.cards__text {
  padding: 20px 24px;
  box-sizing: border-box;
  border: 1px solid #eeeeee;

  background: #fff;

  @include tab {
    height: 146px;
    padding: 20px 24px;
  }

  @include pc {
    height: 110px;
    padding: 20px 24px;
  }
}
