/* = лого = */
.logo {
  align-self: center;

  font-family: Raleway;
  font-weight: 700;
  font-size: 24px;
  line-height: calc((28 / 24) * 100%);
  letter-spacing: 0.03em;
  color: $accent;

  @media screen and (max-width: 767px) {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  @include tab {
    padding-top: 26px;
    padding-bottom: 26px;
  }

  @include pc {
    font-size: 26px;
    line-height: calc((31 / 26) * 100%);
  }
  &__white {
    color: #fff;
  }

  &__anime {
    transform: rotateY(360deg);
    animation: rotateY 5000ms infinite alternate backwards ease-in-out
      100ms;
  }
}

@keyframes rotateY {
  0% {
    transform: perspective(500px) rotateY(0deg);
  }

  100% {
    transform: perspective(500px) rotateY(360deg);
  }
}
