/* = мадалка = */

.modal {
  padding: 40px 39px 40px 41px;

  position: absolute;
  display: block;
  width: 528px;
  height: 581px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) rotate(360deg);

  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  text-align: center;
  transition: transform $animation;

  @include small {
    width: calc(100% - 30px);
    height: auto;
  }

  @include tel {
    width: 450px;
    height: 609px;
  }
  @include pc {
    width: 528px;
    height: 581px;
  }

  &__close {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: $first-bg;
    fill: #000;
    transition: fill $animation;
  }

  &__close:hover,
  &__close:focus {
    fill: $accent;
    transition: fill $animation;
  }

  &__title {
    margin-bottom: 12px;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-align: center;
    color: $titles;
  }
}
