/* = форми = */

.form {
  display: flex;
  flex-direction: column;

  &__field {
    position: relative;
    text-align: left;
  }

  &-icon {
    position: absolute;
    left: 12px;
    top: 42px;
    fill: #212121;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(-50%);
    &:active {
      fill: $accent;
    }
  }

  &__input {
    width: 100%;
    height: 40px;
    margin-top: 4px;
    padding-left: 42px;
    margin-bottom: 10px;
    border-radius: 4px;
    border-color: rgba(33, 33, 33, 0.2);
    border: 1px solid rgba(33, 33, 33, 0.2);
    outline-style: none;
    transition: border-color $animation;
    &:focus ~ .form-icon {
      outline-style: none;
      fill: #2196f3;
      transition: fill $animation;
    }
    &:last-child() {
      margin-bottom: 10px;
    }
    &:focus {
      border: 1px solid $accent;
    }

    &-text {
      display: inline-block;
      width: 100%;
      height: 120px;
      margin-bottom: 20px;
      resize: none;
      padding: 12px 16px;
      border-radius: 4px;
      border-color: rgba(33, 33, 33, 0.2);
    }
  }

  &__terms {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    font-size: 12px;
    line-height: calc((14 / 12) * 100%);
    letter-spacing: 0.03em;
    color: #757575;

    &::before {
      content: '';
      width: 16px;
      height: 15px;
      border: 2px solid #212121;
      border-radius: 2px;
      margin-right: 8px;
    }
  }

  &__link {
    color: #2196f3;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: font-style 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      color: #188ce8;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  &__btn {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 50px;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    border: 1px solid;
    color: #fff;
    background-color: #2196f3;

    &:hover {
      background-color: #188ce8;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
}

.terms__check:checked + .form__terms::before {
  border: none;
  background-image: url(../images/check-on.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

// .modal__form-icon:focus ~ .modal__form-icon {
//   outline-style: none;
//   fill: #2196f3;
//   transition: fill $animation;
// }

textarea {
  display: inline-block;
  width: 100%;
  resize: none;
  border-radius: 4px;
  border: 1px solid;
}
